#dashIntro {
  padding: 5%;
  text-align: center;
  font-size: 2vh;
  line-height: 3.5vh;
  margin-top: 10%;
}

#dashTitle {
  font-size: 4vh;
}

#projectForm {
  width: 80%;
  height: 100%;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
}

#coordsForm input {
  width: 100px;
}

#projectFormSubmit {
  margin: 30px auto;
  border: 1px solid black;
  padding: 8px;
  border-radius: 3px;
  transition: .7s;
  text-align: center;
}

#projectFormSubmit:hover {
  cursor: pointer;
  background-color: #2580d0;
  color: white;
  transition:.7s
}

#projectModal {
  width: 100%;
  height: 100%;
}
