#display {
  width: 80vw;
}

#projectsDisplay {
  width: 80vw;
  margin: 0 auto;
}

.separator {
  background: black;
  height: 1px;
  width: 75%;
  margin: 0 auto;
}

.sectionDisplay {
  width: 100vw;
  height: 100vh;
}

.hidden {
  opacity: 0;
  transition:.5s;
}

.loaded {
  opacity: 1;
  transition:.5s;
}
