#display {
  width: 80vw;
}

#projectsDisplay {
  width: 80vw;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.sectionDisplay {
  width: 100vw;
  height: 100vh;
}

.hidden {
  opacity: 0;
  transition:.5s;
}

.loaded {
  opacity: 1;
  transition:.5s;
}
