// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projectsTab {
  width: 100%;
  height: 100%;
}

#projectDetail {
  min-height: 80%;
  margin-left: 10px;
  align-self: flex-start;
}

#projectPrompt {
  width: 50%;
  min-height: 80%;
  align-self: flex-start;
}

#projectHeader {
  width: 100%;
}

#projectDescription {
  line-height: 24px;
  margin: 10px 0;
}

#projectList {
  height: 20%;
  width: 100%;
  margin-top: 10px;
  overflow: scroll;
}

#rotationButton {
  margin-left: 20px;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 2px;
  transition: .7s;
}

#rotationButton:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: .5s;
  background-color: #2580d0;
  color: white;
  border: 1px solid white;
}

.projectItem {
  font-size: 12px;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
  width: 80px;
  height: 40px;
  text-align: center;
  transition: 1s;
}

.projectItem:hover {
  cursor: pointer;
  transition: 1s;
}

.projectItem.selected {
	background: #2580d0;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  transition: 1s;
}
