// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projectsTab {
  width: 100%;
  height: 100%;
}

#projectDetail {
  min-height: 80%;
  width: 80%;
  margin-left: 10px;
  align-self: flex-start;
}

#projectPrompt {
  width: 80%;
  min-height: 80%;
  align-self: flex-start;
}

#projectHeader {
  width: 100%;
  justify-content: space-around;
}

#projectDescription {
  line-height: 24px;
  margin: 10px 0;
}

#projectList {
  width: 100%;
  margin-top: 10px;
}

#projectForm {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  padding: 20px;
}

#coordsForm input {
  width: 100px;
}

#projectFormSubmit {
  margin: 30px auto;
  border: 1px solid black;
  padding: 8px;
  border-radius: 3px;
  transition: .7s;
}

#projectFormSubmit:hover {
  cursor: pointer;
  background-color: #2580d0;
  color: white;
  transition:.7s
}

.projectItem {
  font-size: 12px;
  padding: 5px;
  margin: 5px;
  width: 80px;
  height: 40px;
  text-align: center;
  transition: 1s;
}

.projectItem:hover {
  cursor: pointer;
  transition: 1s;
}

.projectItem.selected {
	background: #2580d0;
  color: white;
  transition: 1s;
}
